/*
*.csv
*.mrc
*.fullmrc
*.fmrc
*.mrk
*.pstore
*.stackdump
/test
!/incoming_marc
!/existing_marc
!/output
/incoming_marc/*
/existing_marc/*
/output/*
!/incoming_marc/_README.txt
!/existing_marc/_README.txt
!/output/_README.txt